<footer class="nav-footer" id="footer">
    <section class="sitemap"><a class="nav-home" href="/"><img
                src="https://d33wubrfki0l68.cloudfront.net/7a197cfe44548cc1a3f581152af70a3051e11671/78df8/img/babel.svg"
                alt="Babel" width="66" height="58"></a>
        <div>
            <h5>Docs</h5><a href="/docs/learn">Learn ES2015</a>
        </div>
        <div>
            <h5>Community</h5><a href="/videos">Videos</a><a href="/users">User Showcase</a><a
                href="http://stackoverflow.com/questions/tagged/babeljs" target="_blank" rel="noopener noreferrer">Stack
                Overflow</a><a href="https://babeljs.slack.com/" target="_blank" rel="noopener noreferrer">Slack
                Channel</a><a href="https://twitter.com/babeljs" target="_blank" rel="noopener noreferrer">Twitter</a>
        </div>
        <div>
            <h5>More</h5><a href="/blog">Blog</a><a href="https://github.com/babel" target="_blank"
                rel="noopener noreferrer">GitHub Org</a><a href="https://github.com/babel/babel" target="_blank"
                rel="noopener noreferrer">GitHub Repo</a><a href="https://github.com/babel/website" target="_blank"
                rel="noopener noreferrer">Website Repo</a><a href="https://old.babeljs.io" target="_blank"
                rel="noopener noreferrer">Old 6.x Site</a><a href="http://henryzoo.com/babel.github.io" target="_blank"
                rel="noopener noreferrer">Old 5.x Site</a>
        </div>

                <!-- import-map-start: index-top.json -->
                <!-- import-map-end: index-top.json -->
    </section>
</footer>